<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FA Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-MNS2j6bRlgLFz3jLs4+o/3M0I+qAZrKPPuKn5oCxDPQHTsfCVRljglD1lIbNHIfnBt3qVqTYXgGx+W8i57VZsg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="font-size: 2rem; padding: 20px;">
    <i class="fab fa-whatsapp text-success"></i>
    <i class="fab fa-telegram text-primary"></i>
    <i class="fab fa-facebook-messenger text-info"></i>
    <i class="fab fa-instagram text-danger"></i>
    <i class="fas fa-envelope text-warning"></i>
</body>
</html>
